@import "../../utility-styles/main.scss";

.btn {
  font-family: "Raleway", sans-serif;
  font-size: .9rem;
  font-weight: 600;
  padding: .9rem 2.5rem;
  color: $color-grey-light;
  background: $color-primary-2;
  border-radius: 4px;
  letter-spacing: 2.5px;

  &.hero {
    margin-bottom: 4rem;
  }

  &.cart {
    font-size: .85rem;
    font-weight: 600;
    padding: .8rem 2.2rem;
    position: absolute;
    bottom: 0;
    letter-spacing: 2px;
  }

  &.shop {
    font-size: 1.2rem;
    padding: .8rem 5rem;
    margin: 3.5rem auto 0;
  }
  
}
