@import "../../utility-styles/main.scss";

.featured {
  padding: 7rem 6%;
  position: relative;
  @include responsive(900px) {
    padding: 7rem 3.5%;
  }
  @include responsive(425px) {
    padding: 5.5rem 6%;
  }

  .blurer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../../assets/images/sneaker-7.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center -10rem;
    @include responsive(1024px) {
      background-position: center -5rem;
    }
    @include responsive(900px) {
      background-position: unset;
    }
    @include responsive(768px) {        
      background: linear-gradient(       
            to right top,
            rgba(245, 207, 84, 0.864),
            rgba(245, 207, 84, 0.631)
          )
          no-repeat fixed,
        url(../../assets/images/hero-sneaker-small.jpg) no-repeat fixed;
      background-size: cover;
      background-position: top;
    }
  }
}

.featuredIntro {
  text-align: center;

  p {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: $color-grey-dark;
    @include responsive(500px) {
      width: 93%;
      margin-left: auto;
      margin-right: auto;
    }
    @include responsive(350px) {
      font-size: 1.14rem;
    }
  }
}

.items {
  margin-top: 4rem;

  & > * {
    &:not(:last-of-type) {
      padding-bottom: 13rem;
    }
  }
}

.categoryItems {
  @include flex-between;
  @include responsive(720px) {
    justify-content: space-around;
  }
  @include responsive(500px) {
    justify-content: space-between;
  }
}
