@import "../../utility-styles/main.scss";

.featured {
  margin: 7rem 6%;
}

.featuredIntro {
  text-align: center;

  p {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: $color-grey-dark;
  }
}


.items {
    margin-top: 4rem;

     & > * {
      &:not(:last-of-type) {
       padding-bottom: 13rem;
      }
     }
}

.categoryItems {
    @include flex-between;
    flex-wrap: wrap;
}