@import "../../utility-styles/main.scss";

.cover {
  height: 26rem;
  flex: 0 0 23%;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2.2rem;
  background: $color-secondary;
  box-shadow: 0 3px 15px -6px $color-grey-dark-2;
  cursor: pointer;
  
  transition: transform .3s;

  @include responsive(hover) {
    transform: translateY(-6px) scale(1.01);
  }
}

.shoePix {
  height: 56%;
  @include flex-center;
  background: $color-white;

  img {
    width: 90%;
    height: 88%;
  }
}


.details {
  font-family: "Segoe UI", sans-serif;
  text-align: left;
  height: 39.5%;
  padding: 1.2rem 1rem 0;
  position: relative;
  h3 {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
  }
  p {
    font-size: 1.3rem;
    margin: .5rem 0 0;
  }
}

