@import "../../utility-styles/main.scss";

.cover {
  height: 26rem;
  flex: 0 0 23%;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2.2rem;
  background: $color-secondary;
  box-shadow: 0 3px 15px -6px $color-grey-dark-2;
  @include responsive(1280px) {
    height: 27rem;
  }
  @include responsive(1200px) {
    flex: 0 0 24%;
  }
  @include responsive(800px) {
    height: 28rem;
    flex: 0 0 32%;
  }
  @include responsive(720px) {
    flex: 0 0 45%;
  }
  @include responsive(600px) {
    flex: 0 0 47%;
  }
  @include responsive(500px) {
    flex: 0 0 49%;
  }
  @include responsive(375px) {
    height: 30.5rem;
    flex: 0 0 100%;
  }
}

.shoePix {
  height: 56%;
  @include flex-center;
  background: $color-white;

  img {
    width: 90%;
    height: 94%;
     @include responsive(720px) {
      width: 83%;
      height: 100%;
    }
    @include responsive(600px) {
      width: 87%;
    }
    @include responsive(550px) {
      width: 92%;
    }
    @include responsive(375px) {
      width: 86%;
    }
  }
}

.details {
  font-family: "Segoe UI", sans-serif;
  text-align: left;
  height: 39.5%;
  padding: 1.2rem 1rem 0;
  position: relative;
  @include responsive(800px) {
    height: 40.2%;
  }
  @include responsive(375px) {
    height: 39.5%;
  }

  h3 {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
    @include responsive(800px) {
      font-size: 1.3rem;
    }
    @include responsive(375px) {
      font-size: 1.5rem;
    }
  }
  p {
    font-size: 1.3rem;
    margin: 0.5rem 0 0;
    @include responsive(800px) {
      font-size: 1.43rem;
    }
    @include responsive(375px) {
      font-size: 1.5rem;
    }
  }
}
