@import "../../utility-styles/main.scss";

.container {
  background: url(../../assets/images/sneaker-7.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center;

  @include responsive(1400px) {
    background-position: center 65%;
  }
  @include responsive(1800px) {
    background-position: center 74%;
  }
  @include responsive(1280px) {
    background-position: center 70%;
  }
  @include responsive(1200px) {
    background-position: center 50%;
  }
  @include responsive(768px) {
    background-position: left -1rem;
  }
  @include responsive(425px) {
    background-position: -4.5rem -4.5rem;
  }
  @include responsive(375px) {
    background-position: -6rem -4rem;
  }
  @include responsive(350px) {
    background-position: -6rem -4.5rem;
  }
  @include responsive(320px) {
    background-position: -6rem -5rem;
  }
  /*
  @include responsive(720px) {
    background-image: linear-gradient(
        50deg,
        rgb(245, 207, 84) 40%,
        rgba(245, 207, 84, 0.624)
      ),
      url(../../assets/images/sneaker-7-2.jpg);
  }
  */ 
  
}

.header {
  font-family: "Raleway", sans-serif;
  @include flex-between;
  padding: 0 6%;
  margin-top: 1rem;
  @include responsive(900px) {
    padding: 0 3.5%;
  }
}

.left {
  height: 100%;
  flex: 0 0 45%;
  @include responsive(900px) {
    flex: 0 0 42%;
  }
  @include responsive(700px) {
    flex: 0 0 50%;
  }
  @include responsive(600px) {
    flex: 0 0 65%;
  }
  @include responsive(500px) {
    flex: 0 0 70%;
  }
  @include responsive(400px) {
    flex: 0 0 74%;
  }
  @include responsive(375px) {
    flex: 0 0 80%;
  }
  @include responsive(350px) {
    flex: 0 0 87%;
  }
}

.h1 {
  font-size: 4.4rem;
  width: 80%;
  letter-spacing: 0.5rem;
  line-height: 1.5;
  font-weight: 800;
  color: $color-grey-light-2;
  @include responsive(900px) {
    font-size: 4.2rem;
    line-height: 1.43;
  }
  @include responsive(768px) {
  }
}
.h3 {
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  margin: 1.2rem 0 2.2rem;
  font-weight: 600;
  line-height: 1.7;
  color: $color-grey-dark-4;
  @include responsive(800px) {
    margin: 1.2rem 0 1.7rem;
  }
  @include responsive(768px) {
    font-size: 1.2rem;
  }
}

// LEFT
