@import "../../utility-styles/main.scss";

.container {
  background: url(../../assets/images/sneaker-7.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center -10rem;
  @include responsive(1024px) {
    background-position: center -5rem;
  }
  @include responsive(900px) {
    background-position: unset;
  }
  @include responsive(768px) {
    background: linear-gradient(
          to right top,
          rgba(245, 207, 84, 0.864),
          rgba(245, 207, 84, 0.631)
        )
        no-repeat fixed,
      url(../../assets/images/hero-sneaker-small.jpg) no-repeat fixed;
    background-size: cover;
    background-position: top;
  }
}

.header {
  font-family: "Raleway", sans-serif;
  @include flex-between;
  padding: 0 6%;
  margin-top: 1rem;
  @include responsive(1280px) {
    margin-top: 1.5rem;
  }
  @include responsive(1100px) {
    margin-top: 1.7rem;
  }
  @include responsive(900px) {
    padding: 0 3.5%;
  }
}

.left {
  height: 100%;
  flex: 0 0 45%;
  @include responsive(900px) {
    flex: 0 0 42%;
  }
  @include responsive(700px) {
    flex: 0 0 50%;
  }
  @include responsive(600px) {
    flex: 0 0 65%;
  }
  @include responsive(500px) {
    flex: 0 0 100%;
  }
}

.h1 {
  font-size: 4.4rem;
  width: 80%;
  letter-spacing: 0.5rem;
  line-height: 1.5;
  font-weight: 800;
  color: $color-grey-light-2;
  @include responsive(900px) {
    font-size: 4.2rem;
    line-height: 1.43;
  }
  @include responsive(425px) {
    font-weight: 600; //experimental
  }
}
.h3 {
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  margin: 1.2rem 0 2.2rem;
  font-weight: 600;
  line-height: 1.7;
  color: $color-grey-dark-4;
  @include responsive(800px) {
    margin: 1.2rem 0 2rem;
  }
  @include responsive(768px) {
    font-size: 1.2rem;
  }
}

// LEFT
