
@import "../../utility-styles/main.scss";

.container {
  background: url(../../assets/images/sneaker-7.jpg) no-repeat fixed;
  background-size: cover;
  background-position: center;
}

.header {
  font-family: "Raleway", sans-serif;
  @include flex-between;
  padding: 0 6%;
  margin-top: 1rem;
}

.left {
  height: 100%;
  flex: 0 0 45%;
}

.h1 {
  font-size: 4.4rem;
  width: 80%;
  letter-spacing: 0.5rem;
  line-height: 1.5;
  font-weight: 800;
  color: $color-grey-light-2;
}
.h3 {
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  margin: 1.2rem 0 2.2rem;
  font-weight: 600;
  line-height: 1.7;
  color: $color-grey-dark-3;
}

// LEFT
