
@import "../utility-styles/main.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-grey-dark-4;
}
// ::selection {
//   background:rgba(252, 229, 55, 0.72);
// }


html {
  font-size: 81.25%; //13px == 1rem

  ///// MIN WIDTH RULES GOES IN ASCENDING ORDER //////
  @include responsive(1600px) {
    font-size: 93.75%;
  }
  @include responsive(1800px) {
    font-size: 100%;
  }
  
  //////// MAX-WIDTH RULES -- IN DESCENDING ORDER ////////
  @include responsive(1280px) {
    font-size: 68.75%;
  }
  @include responsive(1100px) {
    font-size: 62.5%;
  }
}

body {
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
  overflow-x: hidden;
  background: $color-grey-light-2;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  background-color: inherit;
  cursor: pointer;
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

textarea {
  cursor: text;
}
