
// COLORS
$color-primary: rgb(107, 28, 10);
$color-primary-2: rgba(122, 34, 14, 0.905);

// background: rgb(118, 41, 0);
// $color-secondary: #D8D8D8;


$color-grey-light: #f3f3f3; // MIne 
$color-grey-light-2: #f7f7f7;
$color-grey-light-3: #eee;
$color-grey-light-4: #f5f5f5;


$color-grey-dark: gray;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #444; // MIne

$color-white: #fff;
$color-black: #000;