@import "../../utility-styles/main.scss";

.footer {
  padding: 6rem 6% 3rem;
     background:$color-secondary;
  
  & * {
    font-family: "Raleway", sans-serif;
    color: $color-grey-dark-4;
  }
}

.container {
  @include flex-between;
}

.sections {
}

.linksHeading {
  color: $color-grey-dark-3;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1.7rem;
}
.linksText, .mobileLink {
  font-size: 0.74rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
  @include responsive(hover) {
      color: $color-grey-dark-2;
  }
}

.linksText {
 &:not(:last-of-type) {
    margin-bottom: 1.2rem;
  }
}


.mobileLinks {
  @include flex-between;
  display: none;
}

.mobileLink {

}

.copyright {
    @include flex-center; 
    padding-top: 5rem;
    p {
    
  font-family: "Source Code Pro", monospace;
  
    font-size: .87rem;
    letter-spacing: 0.2rem;
    }
}

