@import "../../utility-styles/main.scss";

.footer {
  padding: 6rem 6% 3rem;
  background: $color-secondary;
  & * {
    font-family: "Raleway", sans-serif;
    color: $color-grey-dark-4;
  }
  @include responsive(900px) {
    padding: 6rem 3.5% 3rem;
  }
  @include responsive(320px) {
    padding: 6rem 3% 3rem;
  }
}

.container {
  @include flex-between;
}

.sections {
  @include responsive(650px) {
    flex: 0 50% 50%;
    margin-bottom: 3rem;
  }
}

.linksHeading {
  color: $color-grey-dark-3;
  font-size: 1.13rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1.7rem;
  @include responsive(1280px) {
    font-size: 1.2rem;
  }
  @include responsive(320px) {
    font-size: 1.1rem;
  }
}
.linksText {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  @include responsive(hover) {
    color: $color-grey-dark-2;
  }
  @include responsive(1280px) {
    font-size: 0.9rem;
  }
  @include responsive(320px) {
    font-size: 0.8rem;
  }
}

.linksText {
  &:not(:last-of-type) {
    margin-bottom: 1.2rem;
  }
}


.copyright {
  @include flex-center;
  padding-top: 5rem;
  
  @include responsive(650px) {
    padding-top: 1rem;
  }
  p {
    font-family: "Source Code Pro", monospace;
    font-size: 0.87rem;
    letter-spacing: 0.2rem;
    @include responsive(1280px) {
      font-size: 1rem;
  }
  }
}
