
@import "../../utility-styles/main.scss";

.HeadingTetiary {
    font-family: "Raleway", sans-serif;
    font-size: 1.9rem;
    letter-spacing: .3rem;
    @include responsive(500px) {
        font-size: 2rem;
      }
}